<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
        <div class="container">
            <div *ngIf="postList">
                <div *ngFor="let post of postList">
                    <div class="post">
                        <div class="element-body">
                            <h4 class="post-title"><a href="/post/{{post.id}}">{{post.title}}</a></h4>
                            <p class="post-summary"> {{ (post.content.length>20)? (post.content | slice:0:20)+'...':(post.content) }}  
                            </p>
                            <p class="post-author"><i>Posted on {{post.created | date : "MMM d, y HH:mm"}} by {{post.author.username}}</i></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-4"></div>
    </div>
